/* Body Style */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(176,176,180,1) 0%, rgba(244,244,249,1) 5%); /* Soft light background for liminal theme with shadow at page end */ 
    color: #333333;
}

header {
    text-align: center;
    margin: 20px 0;
}

h1 {
    font-size: 40px;
    color: #333333;
}

h2 {
    font-size: 28px;
    color: #666666;
    text-align: center;
    margin-bottom: 20px;
}

/* Project Cards */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* The repeat() function to define column properties such as count and size, auto-fill for
                                                                     automatically choosing column count based on space in window, minmax to determine each
                                                                     column size either a min of 300px or 1fr as in 1 fraction size of the number of colums */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition the project card transform (translate) and box-shadow when hovering over */
}

.project-card:hover {
    transform: translate(0px, -10px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition the image transform (upscale) and box-shadow when hovering over */
}

.project-card img:hover {
    transform: scale(1.5);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.project-date,
.project-tech {
    font-size: 14.4px;
    color: #777777;
    margin-bottom: 10px;
}

.project-date {
    position: relative;
    display: inline-block; /* Make sure the tooltip stays aligned with the text */
    cursor: pointer;
}

.project-date:after {
    content: attr(title);  /* The text assigned to the title attribute */
    position: absolute;
    bottom: 100%;  /* Position above the text */
    left: 50%;
    transform: translateX(-50%);  /* Center the tooltip horizontally, after adjusting the numbers this seems the best value */
    background-color: rgba(0, 0, 0, 0.8);  /* Dark grey background */
    color: #ffffff;  /* White text */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden;  /* Hide the date tooltip by default when not hovering */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transition the tooltip from opacity 0 to opacity 1 over 0.3s for visual effect */
    white-space: nowrap;  /* Prevent text from wrapping to multiple lines */
}

.project-date:hover:after {
    visibility: visible;  /* Show the tooltip when hovering */
    opacity: 1;
}

.project-description {
    font-size: 16px;
    color: #555555;
    margin-bottom: 15px;
    height:125px;
}

.project-links {
    display: flex;
    justify-content: space-between;  /* Distribute links on both ends */
    font-size: 14px;
    color: #0066cc;
}

.project-links a {
    text-decoration: none;
    color: #0066cc;  /* Link color */
    font-weight: bold;
    transition:color 0.3s ease;
}

.project-links a:hover {
    text-decoration: underline; /* Underline effect when hovering */
    color: #cc6600;
}

/* Here I learned about modals and decided to implement it for when the user clicks Live Demo and will give a YouTube media player */
/* Modal Container */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 100%);
    overflow: auto; /* Enable scroll automatically */
}

/* Modal Content */
.modal-content {
    background-color: rgba(255,255,255,0.1);
    border-radius: 15px;
    margin: 15% auto; /* Center the modal */
    padding: 20px;
    width: 80%;
    max-width: 800px; /* Max width */
}

/* Close Button */
.close {
    color: #aaaaaa;
    font-size: 80px;
    font-weight: bold;
    position: absolute;
    top: 150px;
    right: 280px;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styling for iframe inside the modal */
#YouTubeMediaPlayer {
    width: 100%;
    height: 450px;
}

/* Sorting label and dropdown style */
.sorting-bar {
    text-align: right;
    margin: -3px 0;
    font-size: 12px;
    padding-right:12px;
}

#sortprojects {
    padding: 6px;
    font-size: 12px;
    width: 140px;
}

/* Added transition animations when sorting */
.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

.projects-container {
    transition: all 0.5s ease-in-out; /* Smooth transition when sorting */
}
